body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 20% 80%;
    grid-template-areas: "header header" "sidebar content" "footer footer";
}


/*per completare il layout andiamo a dichiarare quali elementi
andranno ad occupare gli spazi precedentemente definiti*/

.header {
    grid-area: header;
    background-color: green;
    /*Codice utile solo a stilizzare, ininfluente per la struttura del grid*/
}

.content {
    height: 69vh;
    grid-area: content;
    background-color: hotpink;
    /*Codice utile solo a stilizzare, ininfluente per la struttura del grid*/
    overflow-y: scroll;
    /*Codice utile solo a stilizzare, ininfluente per la struttura del grid*/
}

aside {
    grid-area: sidebar;
    background-color: rgb(231, 238, 130);
    /*Codice utile solo a stilizzare, ininfluente per la struttura del grid*/
}

footer {
    grid-area: footer;
    background-color: rgb(0, 250, 250);
    /*Codice utile solo a stilizzare, ininfluente per la struttura del grid*/
}


/*Da qui in giù codice utile solo a stilizzare, ininfluente per la struttura del grid*/

article header {
    font-size: 2rem;
    font-weight: 700;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    margin: 20px 0px;
}